.header {
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  padding-top: 45px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .header {
    max-width: 610px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    max-width: 320px;
    padding-top: 28px;
    padding-bottom: 30.6px;
  }
}