.footer {
  display: flex;
  max-width: 880px;
  margin: 0 auto;
  justify-content: flex-start;
  padding-top: 66px;
  padding-bottom: 60px;
  box-sizing: border-box;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 581px;
    padding-top: 55px;
    padding-bottom: 36px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 282px;
    padding-top: 48px;
  }
}