.profile__title {
  grid-area: title;
  margin: 0 0 0 30px;
  max-width: 294px;
  align-self: end;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .profile__title {
    margin-left: 18px;
  }
}

@media screen and (max-width: 767px) {
  .profile__title {
    margin: 26px 0 0;
    min-width: 188px;
    max-width: 189px;
    font-size: 27px;
    line-height: 1.20;
    text-align: center;
    justify-self: right;
    align-self: start;
  }
}